<html>
  <body>
    <h3>Hi {{cus_name}}</h3>
    <p>
      Thank you for applying to adopt “{{pet_name}}”.
    </p>
    <h4>
      Here’s your payment summary:
    </h4>
    <ul>
      <li>Adoption Fee: {{amount}}</li>
      <li>Order ID: {{orderId}}</li>
      <li>Date: {{date}}</li>
    </ul>
    <p>If you have any questions or didn’t intend to make this payment, let us
      know.</p>
    <p>— BBIT</p>
    <p></p>
  </body>
</html>