<html>
  <body>
    <h3>Hi {{cus_name}}</h3>
    <p>
      Good news! Someone has submitted an adoption application for your listing:
      “{{pet_name}}”.
    </p>
    <p>
      Here are the details:
    </p>
    <p>Applicant: {{name}}</p>
    <p>Address: {{address}}</p>
    <p>Phone Number: {{phoneNumber}}</p>
    <p>Region: {{region}}</p>
    <h4>Why they want to adopt a pet?</h4>
    <p>{{whyAdopt}}</p>
    <h4>Is their home pet proof?</h4>
    <p>{{petProof}}</p>
    <h4>How they take care of your pet?</h4>
    <p>{{takeCareOfPet}}</p>
    <p>You can review the application by
      <a
        href="https://biluibaba.com/adoptions/application?&id={{orderId}}"
      >clicking here</a>
      and respond accordingly.</p>
    <p>Thanks for taking part in this important process.</p>
    <p>— BBIT</p>
    <p></p>
  </body>
</html>