<html>
  <body>
    <p>Hi {{cus_name}}</p>
    <p>Your online appointment is confirmed.</p>
    <ul>
      <li>Doctor: {{vet_name}}</li>
      <li>Pet: {{pet_name}}</li>
      <li>Date & Time: {{date}} {{time}}</li>
      <li>Join link: {{room_link}} (Open 10 mins early)</li>
      <li>Total: {{total_amount}}</li>
    </ul>
    <p>- Support</p>
  </body>
</html>