<html>
  <body>
    <p>Dear {{vet_name}}</p>
    <p>A new online appointment is booked</p>
    <ul>
      <li>Patient: {{pet_name}} {{cus_name}}</li>
      <li>Date & Time: {{date}} {{time}}</li>
      <li>Join link: {{room_link}}</li>
      <li>Notes: {{reason}}</li>
    </ul>
    <p>View details
      <a
        href="https://app.biluibaba.com/dashboard/appointments/upcoming"
      >here</a></p>

    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>