<html>
  <body>
    <p>
      Hi
      {{name}},
    </p>
    <p>Your physical appointment is confirmed.</p>
    <ul>
      <li>
        Doctor:
        {{vet_name}}
      </li>
      <li>
        Pet:
        {{pet_name}}
      </li>
      <li>
        Date & Time:
        {{date}}
        {{time}}
      </li>
      <li>
        Location:
        {{location}}
      </li>
      <li>
        Total:
        {{total_amount}}
      </li>
    </ul>

    <p>Please find the invoice attached below</p>

    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>