<html>
  <body>
    <p>
      Dear
      {{name}},
    </p>
    <p>
      A new appointment has been booked.
    </p>
    <ul>
      <li>
        Pet/Owner:
        {{pet_name}}
        {{cus_name}}
      </li>
      <li>
        Date & Time:
        {{date}}
        {{time}}
      </li>
      <li>
        Location:
        {{location}}
      </li>
      <li>
        Reason/Notes:
        {{notes}}
      </li>
    </ul>

    <p>View details
      <a
        href="https://app.biluibaba.com/dashboard/appointments/upcoming"
      >here</a></p>

    <p>Need help? Contact us
      <a href="https://biluibaba.com/contact-us">here</a></p>
  </body>
</html>