<html>
  <body>
    <h3>Admin Notice:</h3>
    <p>
      A new adoption application has been submitted.
    </p>
    <p>
      Here are the details:
    </p>
    <p>Adoption ID: {{adoptionId}}</p>
    <p>Applicant: {{name}}</p>
    <p>Address: {{address}}</p>
    <p>Phone Number: {{phoneNumber}}</p>
    <p>Region: {{region}}</p>
    <p>Payment: {{payment}} BDT</p>
    <h4>Why they want to adopt a pet?</h4>
    <p>{{whyAdopt}}</p>
    <h4>Is their home pet proof?</h4>
    <p>{{petProof}}</p>
    <h4>How they take care of your pet?</h4>
    <p>{{takeCareOfPet}}</p>
    <p>Please monitor the interaction and ensure everything proceeds smoothly.
    </p>
    <p>— System Notification</p>
  </body>
</html>