<html>
  <body>
    <p>Admin Team,</p>
    <p>An online appointment was booked.</p>
    <ul>
      <li>ID: {{appointmentId}}</li>
      <li>Doctor: {{vet_name}}</li>
      <li>When: {{date}} {{time}}</li>
      <li>Payment: {{total_amount}}</li>
    </ul>
    <p>- System</p>
  </body>
</html>