<html>
  <body>
    <p>
      Admin team,
    </p>
    <p>
      A physical appointment was booked.

    </p>
    <ul>
      <li>
        ID:
        {{appointment_id}}
      </li>
      <li>
        Patient:
        {{pet_name}}
        {{cus_name}}
      </li>
      <li>
        When/Where:
        {{date}}
        {{time}}
        —
        {{address}}
      </li>
      <li>Payment: {{total_amount}}</li>
    </ul>

    <p>- Support</p>
  </body>
</html>